/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Extra desktops
$screen-xl-min: 1200px;

// Extra Extra Large desktops
$screen-xxl-min: 1440px;


// Colors vars
:root {
    --ghost: #f0faff;
    --grey: #9090A7;
    --nightblue: #060640;
    --aqua: #00E5CC;
    --snowdrop: #F9FDFF;
    --lilywhite: #ECF9FF;
    --jaguar: #000020;
    --lightgrey: #f5f5f5;
    --darknavy: #000435;

    --black: #000000;
    --white: #ffffff;

    --amber: #ffb300;
    --deepred: #C32F27;
    --forest: #185C37;
    --royal: #4951f5;
    --violet: #7059c2; 
  }
