@charset 'utf-8';

// Base Styles
@forward "base/_normalize";
@forward "base/_base";
@forward "base/_typography";

// Components Styles
@forward "components/_buttons";
@forward "components/_forms";
@forward "components/_navigation";

// Layout Styles
@forward "layout/_header";
@forward "layout/_footer";

// Sections Styles
@forward "sections/_about";
@forward "sections/_associations";
@forward "sections/_contact";
@forward "sections/_home";
@forward "sections/_projects";
@forward "sections/_resume";


#burger-container {
    display: none;
  }
  
  #nav-container {
    display: none; 
  
    @media (max-width: 768px) {
      display: none;
  
      &.active {
    display: flex;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #f9f9f9;
    flex-direction: column;
    width: 180px;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        li {
          margin-bottom: 1rem;
  
          a {
            color: black;
            text-decoration: none;
            font-size: 1rem;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  
  #burger-container {
    cursor: pointer;
  
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      top: 50px;
      right: 20px;
      z-index: 1001;
  
      svg {
        width: 40px;
        height: 25px;
      }

      rect {
        fill: #fff;
        filter: drop-shadow(0 0 3px rgba(0,0,0,0.22));
        transition: fill 0.2s;
      }
    }
  }
  
  #burger {
    transition: all 0.3s ease;
    cursor: pointer;
  
    #top,
    #middle-logo,
    #bottom {
      transition: all 0.3s ease;
      transform-origin: center;
      transform-box: fill-box;
      transform: none;
      opacity: 1;    
    }
  
    &.active {
      g #top {
        transform: translateY(8px) rotate(45deg);
      }
  
      g #middle-logo {
        opacity: 0;
      }
  
      g #bottom {
        transform: translateY(-8px) rotate(-45deg);
      }

      svg rect {
        fill: var(--aqua);
      }
    }
  }